*
!.gitignore
!Dockerfile
!docker-compose.yml
!docker-compose.dev.yml
!.dockerignore

!clab_ceis/

!clab_ceis/*
clab_ceis/__pycache__

!clab_ceis/queries/
!clab_ceis/queries/*
!clab_ceis/assets
!clab_ceis/assets/*
!clab_ceis/assets/graphdb
!clab_ceis/assets/graphdb/*
!clab_ceis/assets/graphdb/conf
!clab_ceis/assets/graphdb/conf/*
!clab_ceis/assets/graphdb/data/
!clab_ceis/assets/graphdb/data/*
!clab_ceis/utils/*
!clab_ceis/layouts/
!clab_ceis/layouts/*
!clab_ceis/callbacks/
!clab_ceis/callbacks/*

!doc
!doc/assets
!doc/assets/*

!.vscode
!.vscode/*

!.devcontainer
!.devcontainer/*

.DS_Store
