services:
  shop:
    hostname: shop
    build:
      context: .
    environment:
      - CEIS_SHOP_HOSTNAME=shop
      - CEIS_MONITOR_HOSTNAME=ceis-dashboard
    ports:
      - "8050:8050"
    volumes:
      - .:/app
    command: ["uv", "run", "uvicorn", "shop.main:app", "--host", "0.0.0.0", "--port", "8050", "--reload"]

  ceis-dashboard:
    hostname: ceis-dashboard
    build:
      context: .
    environment:
      - CEIS_MONITOR_HOSTNAME=ceis-dashboard
      - CEIS_SHOP_HOSTNAME=shop
    ports:
      - "8051:8051"
    volumes:
      - .:/app
    command: ["uv", "run", "uvicorn", "ceis_dashboard.main:app", "--host", "0.0.0.0", "--port", "8051", "--reload"]

  ceis-backend:
    hostname: ceis-backend
    build:
      context: ./clab_ceis/ceis_backend
    environment:
      - CEIS_SHOP_HOSTNAME=shop
      - CEIS_MONITOR_HOSTNAME=ceis-dashboard
    ports:
      - "8052:8052"
    volumes:
      - ./clab_ceis/ceis_backend:/app
    command: ["uv", "run", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8052", "--reload"]
  graphdb:
    hostname: graphdb
    build:
      context: clab_ceis/assets/graphdb
    ports:
      - 7200:7200
      - 7300:7300
    volumes:
      - ceis-graphdb-volume:/opt/graphdb/home

volumes:
  ceis-graphdb-volume:
